<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <clear />
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
    <add key="BepInEx" value="https://nuget.bepinex.dev/v3/index.json" />
  </packageSources>
  <packageSourceMapping>
    <packageSource key="nuget.org">
      <package pattern="Microsoft.*" />
      <package pattern="Mono.Cecil" />
      <package pattern="NETStandard.Library" />
      <package pattern="NuGet.*" />
      <package pattern="Iced" />
      <package pattern="Newtonsoft.Json" />
      <package pattern="runtime.*" />
      <package pattern="System.*" />
      <package pattern="xunit*" />
      <package pattern="YamlDotNet" />
    </packageSource>
    <packageSource key="BepInEx">
      <package pattern="Il2CppInterop.*" />
    </packageSource>
  </packageSourceMapping>
</configuration>
